{% extends "base.html" %}
{% block title %} Посты избранных {% endblock %}

{% block content %}
    <div class="container">

        {% include "posts/menu.html" with follow=True %}

        <h1> Последние обновления избранных авторов </h1>
        {% for post in page %}
            {% include "posts/card_post.html" with post=post %}
        {% endfor %}

    </div>

        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}

{% endblock %}